---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Developer Portfolio - Alan Swenson">
  <main class="py-10 px-4 relative flex justify-center m-auto w-auto">
    <div class="m-auto w-auto">
      <h1
        class="text-violet-400 text-5xl sm:text-7xl md:text-8xl text-center uppercase leading-none"
      >
        Alan
      </h1>
      <h1
        class="text-violet-400 text-5xl sm:text-7xl md:text-8xl text-center uppercase leading-none"
      >
        Swenson
      </h1>
      <span
        class="leading-none
				  text-pink-500
				  transform
				  -skew-y-12
				  lg:ml-auto
				  wicked
				  text-4xl
				  sm:text-6xl
				  md:text-8xl
				  font-dafoe
				  lowercase
				  absolute
				  right-10
				  sm:right-10
				  md:bottom-0
				  bottom-5"
      >
        Portfolio</span
      >
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Monoton&family=Mr+Dafoe&display=swap");
  main {
    width: 800px;
    max-width: calc(100% - 2rem);
  }
  h1 {
    background-image: -webkit-linear-gradient(
      #022486,
      #0ad0fd 30%,
      #bdfcfc 40%,
      #d8ffff 44%,
      #0c111c 0,
      #0c111c 50%,
      #074a67 52%,
      #1cd8fe 60%,
      #7fedfe 62%,
      #96f5fc 70%,
      #0fd8fa 73%,
      #0bd2fd 88%,
      #affdff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Monoton", cursive;
    -webkit-text-stroke: 1px #fff;
  }
  .font-dafoe {
    font-family: "Mr Dafoe", cursive;
  }
</style>
