---
import { Icon } from 'astro-icon'
---


<div class="flex flex-col text-pink-500 justify-center w-full bg-blue-700 rounded-b-lg pt-4 pb-6 bg-opacity-50 border-t-4 border-pink-500">
    <div id="extra-buttons" class="flex justify-center text-yellow-400">
        <div id="button-select" class="extra-button border-b-2 border-yellow-400 bg-slate-900 cool-shadow"></div>
        <div id="button-start" class="extra-button border-b-2 border-yellow-400 bg-slate-900 cool-shadow"></div>
    </div>
    <div id="controls-container" class="flex justify-between items-center text-yellow-400">
        <div id="joystick-container" class="flex mx-16">
            <span class='w-12 rounded-l-lg bg-slate-900 mr-8 px-1 cool-shadow border-b-2 border-yellow-400'><Icon name="ri:arrow-left-s-fill" /></span>
            <span class='w-12 rounded-r-lg bg-slate-900 px-1 border-b-2 cool-shadow border-yellow-400'><Icon name="ri:arrow-right-s-fill" /></span>
        </div>
        <div class="-rotate-24 px-8">
        <div id="buttons-row1" class="grid grid-cols-3">
            <a href="/about"><div id="button-a" class="controller-button border-2 border-yellow-400 bg-slate-900 cool-shadow">A</div></a>
            <a href="/"> <div id="button-b" class="controller-button border-2 border-yellow-400 bg-slate-900 cool-shadow">B</div></a>
            <div id="button-c" class="controller-button border-2 border-yellow-400 bg-slate-900 cool-shadow">C</div>
        </div>
        <div id="buttons-row2" class="flex justify-center">
            <div id="button-d" class="controller-button border-2 border-yellow-400 bg-slate-900 cool-shadow">D</div>
            <div id="button-e" class="controller-button border-2 border-yellow-400 bg-slate-900 cool-shadow">E</div>
        </div>
    </div>
    </div>

</div>

<style>

    .controller-button {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        
    }
    .extra-button {
        width: 5em;
        height: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        border-radius: 0.5rem;
        
    }
    .cool-shadow {
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.288);
    }

    </style>